@import "~bootstrap/dist/css/bootstrap.min.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inline-text--active {
  font: inherit;
  color: inherit;
  text-align: left;
  background: inherit;
  display: block;
  cursor: pointer;
  padding-top: 0.45em;
}

.inline-text--hidden {
  display: none;
}

textarea.inline-edit--active {
  height: auto;
}

.inline-edit-active {
  font: inherit;
  color: inherit;
  text-align: inherit;
  background: inherit;
  display: block;
  width: 100%;
  padding: 0;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: calc(1.5em + 0.75rem + 2px);
}

textarea.inline-edit-active {
  height: auto;
}

.inline-edit-active:focus {
  background: inherit;
  color: inherit;
  outline: 0;
  border-color: #8ad4ee;
  box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25);
}

.inline-edit-options {
  float: right;
  margin-top: 5px;
  display: block;
}

.inline-edit-options button:first-child {
  margin-right: 3px;
}
